---
import BaseLayout from "../../../../layout/base-layout.astro";
import {getEntry,render} from "astro:content";

export const prerender = false;
const {course,section} = Astro.params;
const entry = await getEntry("courses",`${course}/${section}`);

if (!entry){
    throw Astro.redirect("/404")
}

const {Content, headings} = await render(entry)
---

<BaseLayout>
    <main>
        <nav class="px-3 py-5">
            <h5>Python course</h5>
        </nav>
        <div class="main-content">
            <header class="px-3 py-5 border-b-1 border-neutral-800">
                <h2>{entry.data.title}</h2>
            </header>
            <article>
                <Content/>
            </article>
        </div>
        <aside class="px-3 py-5 space-y-1">
            <h5>Content</h5>
            {headings.map(heading =>
                <a href={`#${heading.slug}`}>{heading.text}</a>
            )}
        </aside>
    </main>
</BaseLayout>

<style>
    main{
        height: 100%;
        display: grid;
        grid-template-columns: minmax(0,250px) 1fr minmax(0,250px);
    }

    nav{
        background: var(--color-neutral-900);
    }

    aside{
        padding: 24px 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-left: 1px solid var(--color-neutral-800);
    }

    article{
        display: grid;
        gap: 40px;
        padding: 24px;
    }
</style>
